* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
.container {
  display: flex;
}
.container .side-bar {
  height: 100vh;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.container .side-bar .titel {
  padding-top: 30px;
  padding-bottom: 40px;
}
.container .side-bar .titel .line {
  display: flex;
  align-items: center;
}
.container .side-bar .titel .line .line1 {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-right: 3px;
}
.container .side-bar .titel .line .line2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
}
.container .side-bar .titel .line .line3 {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-left: 3px;
}
.container .side-bar .icon {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
}
.container .side-bar .icon1 {
  background-color: rgb(221, 219, 219);
}
.container .side-bar .icon2:hover {
  background-color: rgb(221, 219, 219);
}
.container .side-bar .icon a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}
/* full content */
.container .full-content {
  margin-left: 300px;
  width: 80%;
  height: 330vh;
  background-color: #e2e7ec;
}
.container .full-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 5px 0px gray inset;
}
.container .full-content .header input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  height: 40px;
  transition: width 0.3s;
}
.container .full-content .header .icon {
  display: flex;
  align-items: center;
}
.container .full-content .header .icon img {
  margin-right: 10px;
}
.container .full-content .header .icon i {
  font-size: 25px;
  margin-right: 20px;
}

/* section 1 */
.section1 {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.section1 .titel {
  margin-left: 20px;
  margin-top: 20px;
}
.section1 .titel .line {
  width: 80px;
  height: 4px;
  background-color: white;
}
.section1 .titel .line .small-line {
  width: 30px;
  height: 4px;
  background-color: black;
}
.section1 .content-container {
  display: flex;
  justify-content: space-around;
}
.section1 .content-container .content11 {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 70%;
}
.section1 .content-container .content1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.section1 .content-container .content1 .pdf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 250px;
  height: 220px;
  margin-top: 50px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.section1 .content-container .content1 .pdf i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.section1 .content-container .content1 .pdf i:hover {
  color: blue;
}
.section1 .content-container .content1 .pdf img {
  margin-top: -50px;
  transition-duration: 0.5s;
}
.section1 .content-container .content1 .pdf img:hover {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}
.section1 .content-container .content1 .pdf h3 {
  position: absolute;
  left: 10px;
  bottom: 60px;
  color: gray;
}
.section1 .content-container .content1 .pdf .line {
  width: 90%;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  margin-top: 120px;
}
.section1 .content-container .content1 .pdf .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 90%;
  bottom: 15px;
  color: gray;
}
.section1 .content-container .content2 {
  width: 25%;
  background-color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 500px;
}
.section1 .content-container .content2 .pdf-file {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gray;
  width: 90%;
  height: 60px;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.section1 .content-container .content2 .pdf-file .logo {
  width: 40px;
  height: 40px;
  background-color: #0075ff33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}
.section1 .content-container .content2 .pdf-file .logo2 {
  background-color: rgb(186, 233, 186);
  color: green;
}
.section1 .content-container .content2 .pdf-file .logo3 {
  background-color: rgb(247, 183, 183);
  color: red;
}
.section1 .content-container .content2 .pdf-file .logo4 {
  background-color: rgb(247, 222, 177);
  color: rgb(255, 166, 0);
}
.section1 .content-container .content2 .pdf-file .info {
  margin-left: -40px;
}
.section1 .content-container .content2 .pdf-file .info p {
  color: gray;
}
.section1 .content-container .content2 .pdf-file .size {
  color: gray;
}

.section1 .content-container .content2 button {
  width: 150px;
  height: 60px;
  background-color: blue;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: auto;
  color: white;
}
.section1 .content-container .content2 button:hover i {
  animation-name: topandbottom;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes topandbottom {
  100% {
    margin-bottom: 20px;
  }
}
.section1 .content-container .content2 button i {
  margin-right: 10px;
}
