* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
.container {
  display: flex;
}
.container .side-bar {
  height: 100vh;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.container .side-bar .titel {
  padding-top: 30px;
  padding-bottom: 40px;
}
.container .side-bar .titel .line {
  display: flex;
  align-items: center;
}
.container .side-bar .titel .line .line1 {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-right: 3px;
}
.container .side-bar .titel .line .line2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
}
.container .side-bar .titel .line .line3 {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-left: 3px;
}
.container .side-bar .icon {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
}
.container .side-bar .icon1 {
  background-color: rgb(221, 219, 219);
}
.container .side-bar .icon2:hover {
  background-color: rgb(221, 219, 219);
}
.container .side-bar .icon a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}
/* full content */
.container .full-content {
  margin-left: 300px;
  width: 80%;
  height: 230vh;
  background-color: #e2e7ec;
}
.container .full-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 5px 0px gray inset;
}
.container .full-content .header input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  height: 40px;
  transition: width 0.3s;
}
.container .full-content .header .icon {
  display: flex;
  align-items: center;
}
.container .full-content .header .icon img {
  margin-right: 10px;
}
.container .full-content .header .icon i {
  font-size: 25px;
  margin-right: 20px;
}

/* section 1 */
.section1 {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.section1 .titel {
  margin-left: 20px;
  margin-top: 20px;
}
.section1 .titel .line {
  width: 120px;
  height: 4px;
  background-color: white;
}
.section1 .titel .line .line1 {
  width: 50px;
  height: 4px;
  background-color: black;
}
.section1 .content {
  display: flex;
  justify-content: space-around;
}
.section1 .content .top {
  position: relative;
  display: flex;
  justify-content: left;
}
.section1 .content .omarsamir {
  width: 30%;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.section1 .content .omarsamir .social5 .phone {
  margin-left: 25px;
}
.section1 .content .omarsamir .social {
  display: flex;
  justify-content: left;
  position: absolute;
  margin-left: -60px;
  margin-top: 10px;
}
.section1 .content .omarsamir .social .phone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .content .omarsamir .social .phone:hover {
  background-color: blue;
  color: white;
}
.section1 .content .omarsamir .social .message {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.section1 .content .omarsamir .social .message:hover {
  background-color: blue;
  color: white;
  font-size: 12px;
}
.section1 .content .omarsamir .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.section1 .content .omarsamir .info img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.section1 .content .omarsamir .info p {
  color: gray;
}
.section1 .content .omarsamir .line {
  width: 90%;
  height: 2px;
  background-color: #ccc;
  margin-top: 10px;
}
.section1 .content .omarsamir .profile {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.section1 .content .omarsamir .profile .frind {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 150px;
  margin-top: 5px;
}
.section1 .content .omarsamir .profile .frind h3 {
  margin-left: 10px;
}
.section1 .content .omarsamir .foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.section1 .content .omarsamir .foot .pro {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.section1 .content .omarsamir .foot .remove {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: red;
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-align: center;
}
