* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
.container {
  display: flex;
}
.container .side-bar {
  height: 100vh;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.container .side-bar .titel {
  padding-top: 30px;
  padding-bottom: 40px;
}
.container .side-bar .titel .line {
  display: flex;
  align-items: center;
}
.container .side-bar .titel .line .line1 {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-right: 3px;
}
.container .side-bar .titel .line .line2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
}
.container .side-bar .titel .line .line3 {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-left: 3px;
}
.container .side-bar .icon {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
}
.container .side-bar .icon1 {
  background-color: rgb(221, 219, 219);
}
.container .side-bar .icon2:hover {
  background-color: rgb(221, 219, 219);
}
.container .side-bar .icon a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}
/* full content */
.container .full-content {
  margin-left: 300px;
  width: 80%;
  height: 300vh;
  background-color: #e2e7ec;
}
.container .full-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 5px 0px gray inset;
}
.container .full-content .header input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  height: 40px;
  transition: width 0.3s;
}
.container .full-content .header .icon {
  display: flex;
  align-items: center;
}
.container .full-content .header .icon img {
  margin-right: 10px;
}
.container .full-content .header .icon i {
  font-size: 25px;
  margin-right: 20px;
}
/* setion1 */
.section1 {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.section1 .titel {
  margin-left: 30px;
  margin-top: 20px;
}
.section1 .titel .line {
  width: 130px;
  height: 4px;
  background-color: white;
}
.section1 .titel .line .line1 {
  width: 50px;
  height: 4px;
  background-color: black;
}
.section1 .content {
  display: flex;
  justify-content: space-around;
}
.section1 .content .dashbord {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 45%;
  height: 350px;
  background-color: white;
  margin-top: 50px;
}
.section1 .content .dashbord .titel {
  display: flex;
}
.section1 .content .dashbord .titel .time {
  margin-right: 10px;
}
.section1 .content .dashbord .img {
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}
.section1 .content .dashbord .img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
.section1 .content .dashbord .img .img2 {
  margin-left: 33px;
}
.section1 .content .dashbord .img .img2:hover {
  height: 45px;
  width: 45px;
}
.section1 .content .dashbord .img img:hover {
  height: 45px;
  width: 45px;
}
.section1 .content .dashbord .img .img3:hover {
  height: 45px;
  width: 45px;
}
.section1 .content .dashbord .img .img4:hover {
  height: 45px;
  width: 45px;
}
.section1 .content .dashbord .img .img5:hover {
  height: 45px;
  width: 45px;
}
.section1 .content .dashbord .img .img3 {
  margin-left: 66px;
}
.section1 .content .dashbord .img .img4 {
  margin-left: 99px;
}
.section1 .content .dashbord .img .img5 {
  margin-left: 132px;
}
.section1 .content .big-line {
  width: 90%;
  height: 1px;
  background-color: #aaa;
  margin-top: 70px;
  margin-left: 5%;
}
.section1 .content .line5 {
  width: 90%;
  height: 1px;
  background-color: #aaa;
  margin-top: 30px;
  margin-left: 5%;
}
.section1 .content .design {
  display: flex;
  justify-content: space-around;
  margin-right: 150px;
  width: 70%;
  margin-left: 100px;
}
.section1 .content .design1 {
  width: 120px;
  height: 30px;
  background-color: #aaa;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}
.section1 .content .design2 {
  width: 100px;
  margin-left: 10px;
}
.section1 .content .design3 {
  width: 100px;
  margin-left: 10px;
}
.section1 .content .design4 {
  width: 100px;
  margin-left: 10px;
}
.section1 .content .design h2 {
  margin-bottom: 5px;
}
.section1 .content .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .content .foot .line {
  width: 50%;
  height: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: blue;
  margin-top: 20px;
  margin-left: 30px;
}
.section1 .content .foot .price {
  margin-right: 10px;
  margin-top: 20px;
  color: gray;
}
